header {
    height: 70px;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #777777;
}
.navbar {
    width: 960px;
    height: 50px;
    margin: 0 auto;
    background-color: #ffffff;
    color: #777777;
}
.navbar a {
    margin-left: 10px; 
    margin-right: 10px;
  }

.navlinks {
    float: right;
    height: 40px;
    margin-top: 10px;
    background-color: #ffffff;
    color: #777777;
}
   
  a:link {
    color: #777777;
}

a:visited {
    color: #777777;
}

a:hover {
    color: #ada9b7;
}

a:active {
    color: #a9bfdf;
}

a {
    text-decoration: none;
}

#myname {
    float: left;
    text-align: center;
    background: #896978;
    padding: 11px;
    color: #ffffff;
    font-family: Cambria, Georgia, serif;
    font-size: 30px;
}

 #image-1 {float: left}

 h2{
    border-bottom: 6px lightgrey;
    background-color: #ffffff;
  }

#div3{ font-family:  Arial, Arial, Helvetica, sans-serif ;
     text-align: absolute;
     width: 960px;
     padding: 100px 200px;
     background: transparent;
    
    border: #dddddd}
  #index { float: right;}
  #portfolio { float: right;}
  #right { float: right;}
  #message {width: 850px;
height: 200px}

#gt{background-color: #896978;}
#swac{background-color: #896978;}
#ts{background-color: #896978;}
#footer  {
   background-color: #666666;
   height: 50px;
  }
  #pfoot{text-align: center}
  body{
   background-image:  url("papyrus.png");
  }
  #contMe{ font-family:  Arial, Arial, Helvetica, sans-serif ;
    text-align: absolute;
    width: 960px;
    padding: 100px 200px;
    background: transparent;
    float: right;}
 